#title{
  background-color: #ff4c68;
  color: #ffffff;
}

.body{
  font-family: 'Montserrat', sans-serif;
}

h1,  h4, h5, h6{
  font-family: 'Montserrat', sans-serif;
}

h2,h3{
  font-family: 'Montserrat-bold', sans-serif;
}
.container-fluid{
  padding: 3% 15% 7%;
}


/* headings */

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}
.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* navigation bar */

.navbar{
      padding-bottom: 4.5rem;
      padding-left: 0;
}

.navbar-brand{
  font-size: 2.5rem;
  font-family: "ubuntu";
  font-weight: bold;
}

.nav-item{
  padding: 0 18px;
}

.nav-link{
  font-size: 1.2rem;
  font-family: 'Montserrat-light', sans-serif;
}


/* download buttons */

.download-buttons{
   margin :5% 3% 5% 0;

}


/* title image */

.title-img{

  width :60%;
  transform: rotate(25deg);
  position:absolute;
  right:30%;
}


/* features */




p{
  color:#bfbfbf;
  font-weight:bolder;
}

.feature-title{
  font-size: 1.5rem;
  font-weight: bolder;
}
.icon{
  color:#ef8172;
  padding :1rem 0;
}

.icon:hover{
  color:#ff4c68;
}

.feature-elements{
  text-align: center;
   padding: 50px;
}

#features{
  padding: 100px 0;
  background-color: white;
  position:relative;
}


/* testimonials */



#testimonials
{
background-color: #ef8172;
text-align:center;
color:#fff;
}

.testimonial-text{
  line-height:1.5;
  font-size:3.5rem;
}

.carousel-item{
  padding:7% 15%;
}

.testimonial-image{
  width:10%;
  border-radius: 50%;
  margin:10px;
}

#press{
background-color: #ef8172;
text-align: center;
padding:3%;
}

.press-logo{
  width:15%;
  margin:20px 20px 50px;
}


/* pricing-section */


#pricing{
   text-align:center;
   padding:100px;

}
.pricing-column{
  padding: 3% 2%;
}

.price-text{
  line-height:1.5;
  font-size:3.5rem;
}
.card-title{
  font-size: 1.5rem;
  font-weight: bolder;
}
/* call to action section */

.footerh3{

     font-family: 'Montserrat-bold', sans-serif;
     line-height:1.5;
     font-size:3.5rem;
}


#cta{
  background-color:#ff4c68;
  text-align: center;
  padding:7% 15%;
  color:#fff;
}

#footer{
  padding:7% 15%;
  text-align:center;
}

.social-icon{
  margin:20px 10px
}
@media (max-width :1099px){
#title{
  text-align: center;
}
.title-img{
  position:static;
  transform:rotate(0);
}

}
